<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Smartsupp Live Chat integration module.
 * 
 * @package   Smartsupp
 * @author    Smartsupp <vladimir@smartsupp.com>
 * @link      http://www.smartsupp.com
 * @copyright 2015 Smartsupp.com
 * @license   GPL-2.0+
 *
 * Plugin Name:       Smartsupp Live Chat
 * Plugin URI:        http://www.smartsupp.com
 * Description:       Adds Smartsupp Live Chat code to Magento.
 * Version:           1.1.1
 * Author:            Smartsupp
 * Author URI:        http://www.smartsupp.com
 * Text Domain:       smartsupp
 * License:           GPL-2.0+
 * License URI:       http://www.gnu.org/licenses/gpl-2.0.txt
 */
-->
<config>
    <modules>
        <Smartsupp_LiveChat>
            <version>1.1.1</version>
        </Smartsupp_LiveChat>
    </modules>

    <default>
        <livechat>
        	<settings>
        		<force_login>1</force_login>
        	</settings>
            <variables>
                <customerid>1</customerid>
                <customername>1</customername>
                <customeremail>1</customeremail>
                <customerphone>1</customerphone>
                <customerrole>1</customerrole>
                <customerspendings>1</customerspendings>
                <customerorders>1</customerorders>
            </variables>
        </livechat>
    </default>

    <global>
        <blocks>
            <livechat>
                <class>Smartsupp_LiveChat_Block</class>
            </livechat>
        </blocks>
        <helpers>
            <livechat>
                <class>Smartsupp_LiveChat_Helper</class>
            </livechat>
        </helpers>
        <models>
            <livechat>
                <class>Smartsupp_LiveChat_Model</class>
            </livechat>
        </models>
    </global>

    <frontend>
        <layout>
            <updates>
                <livechat>
                    <file>livechat.xml</file>
                </livechat>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <livechat>
                    <files>
                        <default>Smartsupp_LiveChat.csv</default>
                    </files>
                </livechat>
            </modules>
        </translate>        
    </adminhtml>

    <admin>
       <routers>
            <livechat>
                <use>admin</use>
                <args>
                    <module>Smartsupp_LiveChat_Adminhtml</module>
                    <frontName>livechat</frontName>
                </args>
            </livechat>
       </routers>
    </admin>    
</config>
